.top-categories{
   .cat-header{
       font-size: 30px;
       margin: 13px;
       font-weight: 500;
   }
    width: 100%;
    height: 120vh;
    .cat-1 {
       width: 23%;
       cursor: pointer;
       p{
           cursor: pointer;
           font-weight: bolder;
           padding-top: 10px;

       }
       img{
           transition: .4s all;
        
           &:hover{
               transform: scale(1.05);
               
           }
       }
    }
}