.popular-course-area{
    padding: 95px 0;
    h3{
        font-size: 1.8rem;
        font-weight: 600;
    }
    .popular-courses{
        margin: auto;
        .first-side{
            p{
                margin-top: 13px;
                font-size: 1rem;
                color:#888;
            }
        }
       
    }
}